<div class="row head">
  <div class="large-8 columns left">
    <%= l @weekdays.first, :format => :long %> – <%= l @weekdays.last, :format => :long %> (<%= t('.week_number') %> <%= @weekdays.first.cweek %>)
  </div>

  <div class="large-4 columns right">
    <div class="table-cell">
      <a href="<%= url_for(date: @next_week_day.to_formatted_s(:iso)) %>" class="next"><%= fa_icon('caret-right') %></a>
    </div>
    <div class="table-cell">
      <a href="<%= url_for(date: @previous_week_day.to_formatted_s(:iso)) %>" class="previous"><%= fa_icon('caret-left') %></a>
    </div>
    <div class="table-cell">
      <a href="#" class="jump-date-starter"><%= fa_icon('calendar') %></a>
    </div>
    <div class="table-cell">
      <form>
        <input type="text" class="jump-date hidden" data-jump-url="<%= url_for(date: '') %>" data-current-day="<%= @day.to_formatted_s(:iso) %>">
      </form>
      <% unless @day.today? %>
        <a href="<%= url_for(date: nil) %>" class="small secondary today button"><%= t '.today' %></a>
      <% end %>
    </div>
  </div>
</div>
