<%= render partial: 'reports/shared/month_year_selector' %>
<%= render partial: 'reports/shared/team_selector' %>

<%= render partial: 'reports/shared/header', locals: { base_url: '/reports/work/:year', title: t('.title') } %>

<div class="content-summary row">
  <div class="small-12 columns">
    <table class="nice small-12">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th><%= t 'reports.work.columns.effective_worked' %></th>
          <th><%= t 'reports.work.columns.absent' %></th>
          <th><%= t 'reports.work.columns.time_bonuses' %></th>
          <th><%= t 'reports.work.columns.adjustments' %></th>
          <th><%= t 'reports.work.columns.target' %></th>
          <th><%= t 'reports.work.columns.overtime' %></th>
          <% if @display_overtime_total %>
            <th>
              <span class="has-tip" data-tooltip="<%= t("reports.work.columns.overtime_total.description") %>">
                <%= t("reports.work.columns.overtime_total.title") %>
              </span>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% summary = @users.each_with_object({}) do |user, memo| %>
          <tr>
            <td><%= user %></td>
            <td>
              <ul style="margin-bottom: 0px">
                <li><b><%= format_hours(user.time_sheet.effective_working_time_total(@range)) %></b></li>
                <% user.time_sheet.effective_working_time_by_type(@range).reject { |_, summary| summary == 0 }.each do |time_type_id, summary| %>
                  <%
                    memo[TimeType.find(time_type_id).to_s] ||= 0
                    memo[TimeType.find(time_type_id).to_s] += summary
                  %>
                  <% if user.time_sheet.effective_working_time_by_type(@range).reject { |_, summary| summary == 0 }.count > 1 %>
                    <li style="font-style: italic;"><%= TimeType.find(time_type_id) %>: <%= format_hours(summary) %></li>
                  <% end %>
                <% end %>
              </ul>
            </td>
            <td>
              <%= render partial: 'reports/shared/tooltip', locals: {time_types: user.time_sheet.absences_by_type(@range), total: user.time_sheet.absences_total(@range) } %>
            </td>
            <td>
              <span><%= format_hours(user.time_sheet.bonus(@range)) %></span>
            </td>
            <td>
              <%= render partial: 'reports/shared/tooltip', locals: {time_types: user.time_sheet.adjustments_by_type(@range), total: user.time_sheet.adjustments_total(@range) } %>
            </td>
            <td>
              <span><%= format_hours(user.time_sheet.planned_working_time(@original_range)) %></span>
            </td>
            <td>
              <span><%= format_hours(user.time_sheet.overtime(@range)) %></span>
            </td>
            <% if @display_overtime_total %>
              <td>
                <span><%= format_hours(user.time_sheet.overtime(@range_of_year_till_yesterday)) %></span>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td>Total</td>
          <td>
            <p><%= format_hours(summary.values.sum) %></p>
            <ul style="margin-bottom: 0px">
              <% summary.each do |time_type, value| %>
                <li><%= time_type %>: <%= format_hours(value) %></li>
              <% end %>
            </ul>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
